
@body-bg: #000;
@text-color: #fff;
@brand-primary: #00a8e9;

@font-face {
  font-family: 'aeromatics_b';
  src: url('/fonts/aero_matics_bold.eot');
  src: url('/fonts/aero_matics_bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/aero_matics_bold.woff') format('woff'),
       url('/fonts/aero_matics_bold.ttf') format('truetype');
}

@font-family-base: 'aeromatics_b';

@navbar-height: 100px;
@navbar-default-bg: @body-bg;
@navbar-default-link-active-color: @brand-primary;
@navbar-default-link-color: @text-color;
@navbar-default-link-hover-color: @text-color;
@navbar-default-toggle-hover-bg: @brand-primary;
@navbar-default-toggle-icon-bar-bg: @text-color;

@carousel-control-opacity: .9;
@carousel-control-width: 3%;

@headings-color: @brand-primary;

@jumbotron-bg: @body-bg;

@link-hover-color: @brand-primary;